In [1]:
################################################################################
# This program demonstrates how to use fame time scaling feature
# It demonstrates conversion of data  using various techniques
# to different frequencies
################################################################################
library(FameRconnector)

print("Convert yearly data to quarterly data")
s1 <- FAMEData("*$get_list{famedate, C16676410X01.UOPEN}", "2015", "2019", 5, "QUARTERLY", "down", "heading", "normal")
print(s1)

# calculates moving average of series with business frequency and converts to annual frequency
print("")
print("Calculate moving average; convert from business frequency to annual frequency")
s1 <- FAMEData("*$get_exprs \"\"famedate, MAVE(ibm.close,30)\"\" ", "2015", "2019", 5, "Annual", "down", "heading",
              "normal")
print(s1)

# bulk retrieval; converts data from business frequency to quarterly frequency
print("")
print("Bulk retrieval; convert from business frequency to quarterly frequency")
s1 <- FAMEData('*$get_list{"famedate", fis.open, fis.low, fis.high, fis.close, ibm.open, ibm.low, ibm.high, ibm.close}', "2015", "2019", 5, "Quarterly", "down", "heading", "normal")
print(s1)

# use of convert function
print("")
print("Convert function; convert from business frequency to annual frequency")
s1 <- FAMEData("*$get_exprs \"\"famedate, convert(fis.open, ANNUAL, constant)\"\" ", "2015", "2019", 5, "Annual", "down", "heading", "normal")
print(s1)

# use of constant conversion technique along with automatic conversion off
print("")
print("Convert function with automatic conversion off")
s1 <- FAMEData("$eval_opt(\"\"convert(ibm.close, monthly, *, high)\"\" , \"\"convert automatic off\"\")", "2015", "2019", 5, "monthly", "down",
              "heading", "normal")
print(s1)

[1] "Convert yearly data to quarterly data"
    FAMEDATE. C16676410X01.UOPEN
1  2015-03-31             111.63
2  2015-06-30             105.77
3  2015-09-30              96.30
4  2015-12-31              79.72
5  2016-03-31              89.53
6  2016-06-30              93.69
7  2016-09-30             104.78
8  2016-12-31             102.55
9  2017-03-31             118.38
10 2017-06-30             107.22
11 2017-09-30             104.24
12 2017-12-31             116.42
13 2018-03-31             125.71
14 2018-06-30             113.89
15 2018-09-30             125.28
16 2018-12-31             123.11
17 2019-03-31             107.34
18 2019-06-30             123.87
19 2019-09-30             125.36
20 2019-12-31             119.27
[1] ""
[1] "Calculate moving average; convert from business frequency to annual frequency"
  WU_OBJECT1 WU_OBJECT2 WU_OBJECT3
1 2015-12-31     137.62         NA
2 2016-12-31     165.99         NA
3 2017-12-31     153.42         NA
4 2018-12-31     113.67         NA
5 2019-12-31     134.04         NA
[1] ""
[1] "Bulk retrieval; convert from business frequency to quarterly frequency"
    FAMEDATE. FIS.OPEN FIS.LOW FIS.HIGH FIS.CLOSE IBM.OPEN  IBM.LOW IBM.HIGH
1  2015-03-31    62.33  60.360   68.980     68.06   161.31 149.5200  165.350
2  2015-06-30    67.94  60.790   68.550     61.80   160.23 158.3900  176.300
3  2015-09-30    62.15  61.570   72.295     67.08   163.97 140.6200  173.780
4  2015-12-31    67.75  58.490   73.600     60.60   145.31 131.6500  153.147
5  2016-03-31    59.52  55.105   63.740     63.31   135.60 116.9010  153.100
6  2016-06-30    63.64  63.300   75.800     73.68   150.51 142.5000  155.480
7  2016-09-30    73.80  73.780   81.670     77.03   152.19 149.9200  165.000
8  2016-12-31    76.80  73.250   79.230     75.64   158.06 147.7900  169.952
9  2017-03-31    76.28  75.520   83.860     79.62   167.00 165.3400  182.790
10 2017-06-30    79.87  78.885   87.320     85.40   173.82 149.7900  176.330
11 2017-09-30    85.71  85.230   93.730     93.39   153.58 139.1300  156.025
12 2017-12-31    93.46  89.310   96.670     94.09   145.35 145.2100  162.510
13 2018-03-31    94.31  92.120  103.650     96.30   154.50 144.3955  171.130
14 2018-06-30    95.90  93.710  108.000    106.03   153.34 137.4500  162.000
15 2018-09-30   105.21 102.230  110.830    109.07   138.28 138.2000  153.350
16 2018-12-31   109.41  94.530  109.980    102.55   151.71 105.9400  154.360
17 2019-03-31   100.88  98.100  113.300    113.10   112.01 111.6900  142.120
18 2019-06-30   113.48 109.960  125.260    122.68   141.51 126.8500  145.390
19 2019-09-30   123.65 122.750  141.350    132.76   139.60 128.8300  152.950
20 2019-12-31   133.23 125.010  139.790    139.09   145.59 130.6890  147.350
   IBM.CLOSE
1     160.50
2     162.66
3     144.97
4     137.62
5     151.45
6     151.78
7     158.85
8     165.99
9     174.14
10    153.83
11    145.08
12    153.42
13    153.43
14    139.70
15    151.21
16    113.67
17    141.10
18    137.90
19    145.42
20    134.04
[1] ""
[1] "Convert function; convert from business frequency to annual frequency"
  WU_OBJECT1 WU_OBJECT2 WU_OBJECT3 WU_OBJECT4
1 2015-12-31      62.33         NA         NA
2 2016-12-31      59.52         NA         NA
3 2017-12-31      76.28         NA         NA
4 2018-12-31      94.31         NA         NA
5 2019-12-31     100.88         NA         NA
[1] ""
[1] "Convert function with automatic conversion off"
   $eval_opt(""convert(ibm.close, monthly, *, high)"" , ""convert automatic off"")
1                                                                           162.06
2                                                                           164.83
3                                                                           164.63
4                                                                           174.40
5                                                                           174.05
6                                                                           170.18
7                                                                           173.22
8                                                                           158.71
9                                                                           148.41
10                                                                          152.39
11                                                                          141.88
12                                                                          141.28
13                                                                          135.95
14                                                                          134.50
15                                                                          151.45
16                                                                          152.53
17                                                                          153.74
18                                                                          155.35
19                                                                          162.65
20                                                                          163.53
21                                                                          161.64
22                                                                          157.61
23                                                                          164.52
24                                                                          168.51
25                                                                          178.66
26                                                                          181.68
27                                                                          181.95
28                                                                          174.52
29                                                                          159.10
30                                                                          155.38
31                                                                          155.58
32                                                                          145.30
33                                                                          146.56
34                                                                          162.07
35                                                                          154.03
36                                                                          156.74
37                                                                          169.12
38                                                                          162.40
39                                                                          160.26
40                                                                          160.91
41                                                                          145.49
42                                                                          146.87
43                                                                          149.24
44                                                                          147.70
45                                                                          151.61
46                                                                          153.75
47                                                                          124.84
48                                                                          125.31
49                                                                          134.42
50                                                                          139.72
51                                                                          141.44
52                                                                          145.14
53                                                                          140.56
54                                                                          139.35
55                                                                          151.36
56                                                                          150.32
57                                                                          145.42
58                                                                          143.66
59                                                                          138.78
60                                                                          135.59